body{
    font-family: 'Poppins', sans-serif;
    margin: 0 ;
}

h1{
    font-size: 50px;
}

#Name{
    color: green;
}

section{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 70%;
    border-radius: 15px;
}

.link-button{
    text-decoration: none;
    background-color: rgb(134, 190, 134);
    padding: 10px 30px;
    border-radius: 10px;
    background-image: linear-gradient(orange, tomato);
    color: honeydew;
    font-weight: 700;

}

#top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}